body {
    background-image: url(images/Object.png);
    height: 1200px;
    background-size: cover;
    background-position: center;
      background-repeat: no-repeat;
        font-family: 'Source Sans Pro', sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    /* background-color: #021427; */
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    margin: auto 145px;
    font-size: 12px;
    font-weight: bold;

}

header nav ul{
    display: flex;
}

nav li {
    padding: 5px 20px;
}

nav li a {
    text-decoration: none;
    color: white;
}

/* banner */

.banner{
    padding: 0 200px;
}

.banner .banner-head{
    text-align: center;
}

.banner-head h1{
    text-align: center;
    font-size: 120px;
    font-weight: 100;
    color: white;
    padding-top: 150px;
}
.banner-head .banner-span{
    color: white;
    font-weight: bold;
    padding: 30px;
}
.banner-head span{
    padding: 20px;
}
.banner-head button{
    font-size: 14px;
    display: inline-block;
    margin-top: 30px;
    padding: 18px;
    border-radius: 50px;
    border: none;
    background-color: #C271FF;
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.banner .pro-cards-container{
    padding-top: 170px;
    text-align: center;
}
.banner .pro-cards-container h2{
    font-size: 32px;
    font-weight: 100;
    color: white;
}
.banner .pro-cards-container h2 span{
    font-weight: bold;
    color: #C271FF;
}
.banner .pro-cards-container .pro-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    flex-wrap: wrap;
}
.pro-card{
    flex: 1;
}
.pro-card h3{
    color: white;
    font-size: 18px;
    font-weight: 800;
    padding-top: 20px;
}
.pro-card p{
    color: white;
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    padding: 30px;

}
.pro-cards img {
    border-radius: 50%;
}



/* quote */
.quote{
    background-color: #C271FF;
    color: white;
    font-size: 22px;
}
.quote .quote-margin{
    margin: 0 200px;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 22px;
}

.quote .quote-margin .quote-item1 img{
    height: 160px;
}
.quote .quote-margin .quote-item2{
    line-height: 1.6;
    flex: 1;
    padding: 0 30px;
}
.quote .quote-margin .quote-item2 h3{
    padding-top: 20px;
    font-weight: bold;
}
.quote .quote-margin .quote-item2 p{
    font-style: italic;
}




/* video */

.videos{
    margin: 0 200px;
    padding: 85px 0;
    
}
.videos h2{
    font-size: 32px;
    font-weight: 100;
    color: #071629;
    text-align: center;
    padding-bottom: 85px;

}
.videos h2 span{
    font-weight: bold;
    color: #C271FF;
}

.video-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.video-card{
    position: relative;
    padding: 15px;
    width: 255px;
}

.video-card .overlay-img{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-card h3{
    color: #071629;
    font-weight: bold;
    padding: 15px;
}
.video-card p{
    font-size: 14px;
    line-height: 1.6;
    color: #828A94;
    font-weight: 100;
    padding: 0 15px;
}
.video-card .subtitle{
    padding: 15px ;
    display: flex;
    height: 30px;
}
.video-card .subtitle h4{
    padding: 10px 0 0 15px;
    font-size: 14px;
    color: #C271FF;
    font-weight: bold;
}
.video-card .subtitle-bottom{
    height: 15px;
    padding-left:15px ;
    display: flex;
    justify-content: space-between;
}


/* membership */
.membership{
    background-color: #071629;
}
.membership .membership-margin{
    margin: 0 200px;
    padding: 70px 0;
    text-align: center;
}
.membership .membership-margin h2{
    font-size: 32px;
    font-weight: 100;
    color: white;
}
.membership .membership-margin h2 span{
    font-weight: bold;
    color: #C271FF;
}

.membership .membership-margin .membership-card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    font-size: 22px;
    padding: 60px;
}
.membership .membership-margin .membership-card-container .membership-card{
    font-size: 14px;
    width: 200px;
    padding: 20px;
}
.membership .membership-margin .membership-card-container .membership-card h3{
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
}
.membership .membership-margin .membership-card-container .membership-card p{
    color: white;
    font-size: 14px;
    font-weight: 200;
    line-height: 2;
}

.membership .membership-margin button{
    font-size: 14px;
    display: inline-block;
    padding: 18px;
    border-radius: 50px;
    border: none;
    background-color: #C271FF;
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* FAQ */

.faq{
    padding: 65px 250px ;
}
.faq h2{
    font-size: 60px;
    font-weight: 100;
    color: #071629;
    text-align: center;
}

.faq-card-contanier .faq-card-subcontainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.faq-card-subcontainer .faq-card{
    padding-top: 65px;
    width: 350px;
}

.faq h3{
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #071629;
}
.faq .note{
    font-size: 14px;
    line-height: 1.6;
    color: #828A94;
    font-weight: 100;
}
